Makefile
Makefile.in
.libs/
.deps/
*.o
*.raster
*.bin
aclocal.m4
autom4te.cache/
config.log
config.status
configure
compile
depcomp
install-sh
missing
src/rastertocapt

# Package build artifacts
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
pkg/
src/canon-lbp2900-capt-*/
src/Canon-LBP2900B-*/
*.tar.gz
*.tar.xz

# USB captures
captures/
canonlbp/
canonlbp2/
